.clouds-section {
    align-items: center;
}

.bg-card,
.rock {
    transform-style: preserve-3d;
    will-change: transform;
    width: 100%;
}

.adopt-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    align-items: flex-end;
    font-size: var(--f-d-3);
    z-index: 1;
    position: relative;
    perspective: 1000px;

    &:not(.clicked)>img:hover {
        transform: scale(1.1);
    }
}

.bg-card {
    max-width: 330px;
    box-shadow: var(--card-blue-shadow);
    transition: all 0.3s cubic-bezier(.29, .16, .59, 1.85);
    cursor: pointer;
}

.bg-card.r-half {
    transition: transform 0.5s linear;
    transform: rotateY(90deg)
}

.bg-card.r-full {
    transform: rotateY(180deg);
}

.rock {
    filter: drop-shadow(0px 16px 16px black);
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transition: transform 0.5s linear;
    transform: translate(-50%, -50%) rotateY(-90deg);
}

.rock.r-full {
    transform: translate(-50%, -50%) rotateY(0deg);
}

.adopt-card.clicked {
    >p {
        opacity: 0;
    }

    >img {
        pointer-events: none;
    }
}