/* BANNER SECTION */
.hero-section {
    background-image: url(../assets/Banner_image.png);
    min-height: 485px;
    background-size: cover;
    background-position: left top;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 124px;
}

.hero-headings {
    display: flex;
    flex-direction: column;
    gap: 8px;

    >h1 {
        color: var(--text-white);
        font-size: 64px;
        text-shadow: 0px 4px 8px black;
        text-align: center;
    }
}

/* TESTIMONIALS */
.testimonial-chain {
    background-color: var(--yellow);
    padding: 16px 0px;
    display: flex;
    gap: 32px;
    justify-content: center;
    overflow: hidden;
}

.home-testimonial {
    display: flex;
    border: 2px solid var(--red);
    border-radius: 4px;
    background-color: var(--text-black);
    color: var(--text-white);
    align-items: center;
    gap: 16px;
    padding-right: 8px;

    >.rating {
        background-color: var(--yellow);
        color: var(--red);
        border-radius: 0px 16px 16px 0px;
        padding: 8px;
        font-weight: 800;
        font-size: var(--f-d-3);
    }

    >.message {
        text-wrap: nowrap;
    }

    >.author {
        font-size: var(--f-d-3);
    }
}

/* WHAT ARE PEBBLE PALS SECTION */
.cream-wrapper {
    background-color: var(--cream);
}

.home-section {
    padding: 64px 128px;
    background-color: gray;
    border-radius: 0px 0px 254px 254px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    >h2 {
        font-size: var(--f-u-6);
        text-decoration: underline;
        text-align: center;
    }

    >p {
        text-align: center;
        max-width: 800px;
    }
}

.home-section.yellow {
    background-color: var(--yellow);
}

.what-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.what-card {
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    >h3 {
        text-decoration: underline;
        text-align: center;
        font-size: var(--f-u-4);
    }

    >.what-bullet {
        display: flex;
        border: 2px solid var(--text-black);
        border-radius: 32px 4px 4px 32px;
        align-items: center;
        gap: 16px;
        padding-right: 8px;

        >span {
            font-weight: 800;
            padding-left: 8px;
            min-width: 28px;
            text-align: center;
            border-right: 2px solid var(--text-black);
            align-self: stretch;

            display: flex;
            align-items: center;
        }
    }
}

.what-card.long {
    grid-column: span 2;
}

@media only screen and (max-width: 915px) {
    .what-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

/* HOW TO SECTION */
.how-to-section {
    border-radius: 0px;
    background-color: var(--cream);
}

.how-to-steps {
    display: flex;
    gap: 16px;

    >.how-to-step {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;

        >img {
            box-shadow: var(--card-shadow);
            max-width: 350px;
            width: 100%;
        }

        >h3 {
            font-size: clamp(16px, 2vw, 32px);
            text-align: center;
        }
    }
}

@media only screen and (max-width: 580px) {
    .how-to-steps {
        flex-direction: column;
    }
}

/* GALLERY SECTION */
.home-section.blue {
    border-radius: 254px 254px 0px 0px;
    background-color: var(--blue-light);
}

.rock-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.rock-g-card {
    background-color: var(--cream);
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    box-shadow: var(--card-shadow);

    >img {
        filter: drop-shadow(0px 32px 32px rgba(0, 0, 0, 0.6))
    }

    >p {
        padding: 8px 16px;
        background-color: var(--text-black);
        color: var(--text-white);
        text-align: center;
        font-weight: 800;
    }
}